# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Terraform vars
*.tfvars
*.tfvars.json

# Sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc